:root {
    --color-primary: #2D9CDB;
    --color-secondary: #4CAF50;
    --color-secondary: #4CAF50;
    --color-accent: #F39C12;
    --color-warning: #E74C3C;
    --color-info: #F1C40F;
    --color-background: #F5F5F5;
    --color-text-primary: #333333;
    --color-text-secondary: #ffffff;
    --color-border: #DDDDDD;
    --color-purple: #9B59B6;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit; 
}

a:hover {
  text-decoration: underline;
}

.icon {
  color: #DDDDDD !important;
}